body{

background:#171717;
color:white;
font-family:Arial;
text-align:center;

}


.grid{

display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;

}


.card{

width:170px;
padding:15px;
border-radius:20px;
color:white;

}


input{

width:50px;
margin:5px;

}


button{

padding:12px 25px;
border-radius:15px;
border:none;
cursor:pointer;
font-size:16px;

}


.fuego{

background:#c0392b;

}


.aire{

background:#27ae60;

}


.agua{

background:#2980b9;

}


.tierra{

background:#8e5a2b;

}


#sugerencia{

font-size:35px;
margin:20px;

}


#estado{

font-size:20px;

}
